.Titulo
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	width: 100%;
	line-height: 48px;
	background-color: #F3F3F3;
	color: #5882FA;
}

.LinkLogin1, .LinkLogin2, .LinkLogin3, .LinkLogin
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
    /*text-decoration: none;*/
}

.LinkLogin1
{
	color: #DBA901;
}

.LinkLogin1:visited, .LinkLogin1:link
{
	color: #DBA901;
}

.LinkLogin2, .LinkLogin
{
	color: #5882FA;
}

.LinkLogin2:visited, .LinkLogin2:link, .LinkLogin:visited, .LinkLogin:link
{
	color: #5882FA;
}

.LinkLogin3
{
	color: #FA5858;
}

.LinkLogin3:visited, .LinkLogin3:link
{
	color: #FA5858;
}

body
{
    background-color: white;/*#A4A4A4;*//*#F6CECE;*/
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* tabs */
.contenedor
{
    margin-top: 5px;/*50px;*/
    text-align: center;
    width: 100%;
}

.texto
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;/*#848484;*//*#F3F3F3;*/
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 1325px;
}

.texto2
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;/*#848484;*//*#F3F3F3;*/
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.centrado
{
	/*position:relative;	
	margin: 0 auto;
	padding: 10% 0;*/
	text-align: center;
	margin-left: 25%;
}

.buscarID, .buscarTodo, .Button
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #424242;/*#D84530;*/
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 10px;
    height: 15px;
    margin: 4px;
    min-width: 100px;
    padding: 0px;
    text-decoration: none;
	outline: none;
}

.buscarID:hover, .buscarTodo:hover, .Button:hover
{
	background-color: #409FBA;
    cursor: pointer;
}

.button-link
{
    /*padding: 10px 15px;
    background: #4479BA;
    color: #FFF;*/
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    /*float: left;*/
    font-weight: bold;
    padding: 4px 20px;
    text-decoration: none;
}

.button-link:visited, .button-link:link
{
    color: black;
}

.asociados
{
    width:100%;
}

.asociados tr th
{
    background-color: #777;
    color:#ddd;
    font-size: 12px;
}

.asociados tr:nth-child(odd)
{
    background-color: #DDD;
    color:#777;
}

.asociados tr:nth-child(even)
{
    background-color: #999;
    color:#FFF;
}

.asociados td input[type="text"], .asociados td input[type="number"]
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    border: none; 
    background-color: transparent; 
}

.asociados .vacio
{
    background-color: #F3F3F3;
    color:#F3F3F3;
}

.Button2
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #424242;/*#D84530;*/
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 13px;
    height: 35px;
    margin: 4px;
    min-width: 100px;
    padding: 4px;
    text-decoration: none;
    outline: none;
}

.Button2:hover, .Button2:focus
{
    background-color: #409FBA;
    cursor: pointer;
}